<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default" lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交成功</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <style>
        body{
            background-color: whitesmoke;
        }
        .success{
            position: relative;
            width: 500px;
            height: 300px;
            margin: 100px auto;
            background-color: white;
            padding: 60px 50px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div class="success">
    <h1 class="text-center"><span class="glyphicon glyphicon-ok-sign" style="color:green;margin-right:14px" ></span><p th:text="${msg}">更新成功！</p></h1>
    <div class="row" style="margin-top:130px; padding-left:20px; padding-right:20px">
        <a href="/good/list">继续添加</a>
        <a HREF="/good/list" style="float:right">去首页看看</a>
    </div>
</div>
</body>
</html>